### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/

# Dependency directories
node_modules/
layer/nodejs/
jspm_packages/
target/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# CDK asset staging directory
.cdk.staging
cdk.out
